@model RealEstateApp.Models.CommunicationLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommunicationLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommunicationLogId">Edit</a> |
</div>
