@model RealEstateApp.Models.Routes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Routes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkContacts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkContacts.ContactLastNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUsers.LastNames)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoutesId">Edit</a> |
</div>
