@model IEnumerable<RealEstateApp.Models.Listings>

@{
    ViewData["Title"] = "Real Estate App - Listings";
}

<h1>Listings</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="AddListing()">Add Listing</button>
    </div>
    <div style="float:right; width:40%;">
        <form asp-controller="Listing" asp-action="Index" class="form-group">
            <table style="width:100%">
                <tr>
                    <th><input class="form-control" type="text" name="SearchString" placeholder="Search"></th>
                    <th><button type="submit" class="btn btn-default btn-info">Filter</button></th>
                </tr>
            </table>
        </form>
    </div>
</div>
<br />
<br />
<table class="table" style="font-size: 12px;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ListingsId)</th>
            <th>@Html.DisplayNameFor(model => model.ListingNumber)</th>
            <th>@Html.DisplayNameFor(model => model.SmlsNumber)</th>
            <th>@Html.DisplayNameFor(model => model.TuNuevoEspacioNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IsSmlsPromoted)</th>
            <th>@Html.DisplayNameFor(model => model.IsTuNuevoEspacioPromoted)</th>
            <th>@Html.DisplayNameFor(model => model.ListingType)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Department)</th>
            <th>@Html.DisplayNameFor(model => model.BloqueNumber)</th>
            <th>@Html.DisplayNameFor(model => model.UnitNumber)</th>
            <th>@Html.DisplayNameFor(model => model.UrbanizationName)</th>
            <th>@Html.DisplayNameFor(model => model.Neighborhood)</th>
            <th>@Html.DisplayNameFor(model => model.Estrato)</th>
            <th>@Html.DisplayNameFor(model => model.SalesPrice)</th>
            <th>@Html.DisplayNameFor(model => model.AdministrationFee)</th>
            <th>@Html.DisplayNameFor(model => model.ParkingSpaces)</th>
            <th>@Html.DisplayNameFor(model => model.HasOpenKitchen)</th>
            <th>@Html.DisplayNameFor(model => model.HasElevator)</th>
            <th>@Html.DisplayNameFor(model => model.IsClosedUrbanization)</th>
            <th>@Html.DisplayNameFor(model => model.FkCompaniesId)</th>
            <th>@Html.DisplayNameFor(model => model.HasBalcony)</th>
            <th>@Html.DisplayNameFor(model => model.HasMaidRoom)</th>
            <th>@Html.DisplayNameFor(model => model.IsStudio)</th>
            <th>@Html.DisplayNameFor(model => model.HasPool)</th>
            <th>@Html.DisplayNameFor(model => model.YearBuilt)</th>
            <th>@Html.DisplayNameFor(model => model.FkContactsId)</th>
            <th>@Html.DisplayNameFor(model => model.AreaSize)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfRooms)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfBathrooms)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ListingsId)</td>
            <td>@Html.DisplayFor(modelItem => item.ListingNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SmlsNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.TuNuevoEspacioNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.IsSmlsPromoted)</td>
            <td>@Html.DisplayFor(modelItem => item.IsTuNuevoEspacioPromoted)</td>
            <td>@Html.DisplayFor(modelItem => item.ListingType)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.Department)</td>
            <td>@Html.DisplayFor(modelItem => item.BloqueNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.UrbanizationName)</td>
            <td>@Html.DisplayFor(modelItem => item.Neighborhood)</td>
            <td>@Html.DisplayFor(modelItem => item.Estrato)</td>
            <td>@Html.DisplayFor(modelItem => item.SalesPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.AdministrationFee)</td>
            <td>@Html.DisplayFor(modelItem => item.ParkingSpaces)</td>
            <td>@Html.DisplayFor(modelItem => item.HasOpenKitchen)</td>
            <td>@Html.DisplayFor(modelItem => item.HasElevator)</td>
            <td>@Html.DisplayFor(modelItem => item.IsClosedUrbanization)</td>
            <td>@Html.DisplayFor(modelItem => item.FkCompaniesId)</td>
            <td>@Html.DisplayFor(modelItem => item.HasBalcony)</td>
            <td>@Html.DisplayFor(modelItem => item.HasMaidRoom)</td>
            <td>@Html.DisplayFor(modelItem => item.IsStudio)</td>
            <td>@Html.DisplayFor(modelItem => item.HasPool)</td>
            <td>@Html.DisplayFor(modelItem => item.YearBuilt)</td>
            <td>@Html.DisplayFor(modelItem => item.FkContactsId)</td>
            <td>@Html.DisplayFor(modelItem => item.AreaSize)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfRooms)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfBathrooms)</td>
            <td>
                <button class="btn btn-default" onclick="EditListing(@item.ListingsId)">Edit</button>
                <button class="btn btn-danger" onclick="DeleteListing(@item.ListingsId)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="listingFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="float:left" id="title" class="modal-title">Real Estate App</h3>
                <a style="float:right" href="#" class="btn btn-danger" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="listingFormModelDiv">
            </div>
        </div>
    </div>
</div>

<script>
    var AddListing = function () {
        var url = "/Listings/Create";

        $("#listingFormModelDiv").load(url, function () {
            $("#listingFormModel").modal("show");
        });
    }

    var EditListing = function (itemId) {
        var url = "/Listings/Edit/"+itemId;

        $("#listingFormModelDiv").load(url, function () {
            $("#listingFormModel").modal("show");
        });        
    }

    var DeleteListing = function (itemId) {
        var url = "/Listings/Delete/"+itemId;

        $("#listingFormModelDiv").load(url, function () {
            $("#listingFormModel").modal("show");
        });        
    }
</script>

