@model RealEstateApp.Models.Notifications

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notifications</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotificationDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotificationDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUsers.LastNames)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NotificationsId">Edit</a> |
</div>
