@model IEnumerable<RealEstateApp.Models.Notifications>

@{
    ViewData["Title"] = "Real Estate App - Notifications";
}

<h1>Notifications</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="AddNotification()">Add Notification</button>
    </div>
    <div style="float:right; width:40%;">
        <form asp-controller="Notification" asp-action="Index" class="form-group">
            <table style="width:100%">
                <tr>
                    <th><input class="form-control" type="text" name="SearchString" placeholder="Search"></th>
                    <th><button type="submit" class="btn btn-default btn-info">Filter</button></th>
                </tr>
            </table>
        </form>
    </div>
</div>
<br />
<br />
<table class="table" style="font-size: 12px;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NotificationsId)</th>
            <th>@Html.DisplayNameFor(model => model.FkUsersId)</th>
            <th>@Html.DisplayNameFor(model => model.Notification)</th>
            <th>@Html.DisplayNameFor(model => model.NotificationDatetime)</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NotificationsId)</td>
            <td>@Html.DisplayFor(modelItem => item.FkUsersId)</td>
            <td>@Html.DisplayFor(modelItem => item.Notification)</td>
            <td>@Html.DisplayFor(modelItem => item.NotificationDatetime)</td>            
            <td>
                <button class="btn btn-default" onclick="EditNotification(@item.NotificationsId)">Edit</button>
                <button class="btn btn-danger" onclick="DeleteNotification(@item.NotificationsId)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="notificationFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="float:left" id="title" class="modal-title">Real Estate App</h3>
                <a style="float:right" href="#" class="btn btn-danger" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="notificationFormModelDiv">
            </div>
        </div>
    </div>
</div>

<script>
    var AddNotification = function () {
        var url = "/Notifications/Create";

        $("#notificationFormModelDiv").load(url, function () {
            $("#notificationFormModel").modal("show");
        });
    }

    var EditNotification = function (itemId) {
        var url = "/Notifications/Edit/"+itemId;

        $("#notificationFormModelDiv").load(url, function () {
            $("#notificationFormModel").modal("show");
        });        
    }

    var DeleteNotification = function (itemId) {
        var url = "/Notifications/Delete/"+itemId;

        $("#notificationFormModelDiv").load(url, function () {
            $("#notificationFormModel").modal("show");
        });        
    }
</script>

